<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ptaszki</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <div class="title-bar">
                <img src="~/images/site/title.jpg" id="background-image" width=100%>
                <div id="user-info">
                    <div class=avatar-container>
                        <img src="~/images/bird_avatars/1.jpg" id="user-avatar">
                        <div id="user-info-username">USERNAME</div>
                    </div>
                    <img src="~/images/site/seed.jpg" id="seed-img">
                    <div id="user-info-money">MONEY HERE</div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <div class="navbar-nav">
                    <div class="nav-item">
                        <a href=~/Adopt>Adopt</a>
                    </div>
                    <div class="nav-item">
                        <a href=~/View_Birds>View Birds</a>
                    </div>
                    <div class="nav-item">
                        <a href=~/Crafting>Crafting</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Ptaszki - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>