@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div id="user-info">
        <div class=avatar-container>
            <img src="~/images/bird_avatars/1.jpg" id="user-avatar" width=100px height=100px>
        </div>
        <div id="user-info-username">@UserManager.GetUserName(User)</div>
        <img src="~/images/site/seed.jpg" class="seed-img">
        <div><a href="~/Identity/Account/Logout/">Logout</a></div>
    </div>
}
else
{
    <div id="user-info">
        <div class=avatar-container>
            <img src="~/images/bird_avatars/1.jpg" id="user-avatar" width=100px height=100px>
        </div>
        <div><a href="~/Identity/Account/Login/">Login</a></div>
    </div>
}