.adopt-entry {
    height: 130px;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: thick;
    margin: 20px 0px;
}

.empty-bird {
    background-color: rgb(53, 52, 52);
}

.adopt-img {
    height: 130px;
    width: 130px;
    float: left;
    margin-right: 20px;
}

.adopt-name {
    margin-bottom: 5px;
}

.adopt-stats {
    float: left;
    padding-right: 30px;
}

.adopt-description {
    font-size: 1.1rem;
    float: left;
    width: 300px;
    padding-right: 30px;
}

.side-shop-bar-wrapper {
    display: flex;
    justify-content: space-between;
}

.side-shop-bar {
    width: 650px;
    display: flex;
    justify-content: space-around; 
}

.side-shop-img {
    width: 70px;
    height: 70px;
}

.side-shop-entry {
    position: relative;
}

.ss-star {
    position: absolute;
    width: 20px;
}

.ss-star-1 {
    right: 5px;
    bottom: 8px;
}

.ss-star-2 {
    right: 30px;
    bottom: 8px;
}

.ss-reroll {
    margin-top: 8px;
    font-size: 1.2rem;
}

.side-shop-reroll {
    float: right;
    width: 100px;
}

.reroll-price {
    display: flex;
}