.item-img {
    float: left;
    width: 100px;
    height: 100px;
}

.crafting-entry-box {
    height: 100px;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: thick;
    margin: 20px 0px;
}

.item-name {
    margin-bottom: 5px;
}

.item-needs {
    font-size: 1.2rem;
    width: 500px;
    float: left;
    display: flex;
    justify-content: space-between;
}

.item-need-img {
    float: left;
    width: 20px;
    height: 20px;
}

.item-need {
    float: left;
    margin-right: 8px;
}

.item-progress {
    float: left;
}

.item-left-side {
    font-size: 1.1rem;
    float: left;
    width: 560px;
    margin-right: 10px;
}

.item-right-side {
    float: left;
}