html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-size: 1.4rem;
    margin-bottom: 60px;
    background-color: #1B1725;
    font-family: open sans,arial,sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

button {
    width: 70px;
    height: 40px;
}

.container {
    border: 0;
    padding: 1px 0;
    max-width: 1000px;
    margin: auto;
}

.nav-container {
    background-color: #F0A202;
}

.body-container {
    background-color: #534B62;
}

.body-inner-container {
    width: 800px;
    margin: auto;
}

.body-div {
    background-color: #E8E9EB;
    margin: 10px 0;
    padding: 10px;
    border-radius: 0.2em;
}

nav a {
    text-decoration: none;
}

.nav-item {
    display: inline-block;
    font-size: 18pt;
    line-height: 40px;
    text-align: left;
    padding: 0 10px;
    font-weight: 400;
    margin: 0 auto;
}

.title-bar {
    position: relative;
}

#user-info {
    position: absolute;
    width: 180px;
    top: 10px;
    left: 10px; 
     
    padding: 5px;
    background-color: white;
    border: 2px solid red;
    border-width: thick;
}

.avatar-container {
    width: 100px;
    margin: auto;
}

#user-info-username {
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

.seed-img {
    width: 20px;
    float: left;
    padding-right: 8px;
}

.stat-img {
    width: 20px;
}

/* View Birds */

.rarity-0 {
    background-color: #AFA8A2;
    border-color: #7B7067;
    color: #42372B
}

.rarity-1 {
    background-color: #BACAA1;
    border-color: #81A463;
    color: #406340
}

.rarity-2 {
    background-color: #ABCED1;
    border-color: #589BAF;
    color: #264667
}

.rarity-3 {
    background-color: #B5ABD1;
    border-color: #8D69BD;
    color: #4F3D60
}

.rarity-4 {
    background-color: #D9C398;
    border-color: #E4984D;
    color: #AC462B
}