html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-size: 1.4rem;
    margin-bottom: 60px;
    background-color: #1B1725;
    font-family: open sans,arial,sans-serif;
}

.container {
    border: 0;
    padding: 1px 0;
    max-width: 1000px;
    margin: auto;
}

.nav-container {
    background-color: #F0A202;
}

.body-container {
    background-color: #534B62;
}

.body-inner-container {
    width: 800px;
    margin: auto;
}

.body-div {
    background-color: #E8E9EB;
    padding: 0 10px;
    border-radius: 0.2em;
}

nav a {
    text-decoration: none;
}

.nav-item {
    display: inline-block;
    font-size: 18pt;
    line-height: 40px;
    text-align: left;
    padding: 0 10px;
    font-weight: 400;
    margin: 0 auto;
}

.title-bar {
    position: relative;
}

#user-info {
    position: absolute;
    width: 160px;
    top: 10px;
    left: 10px; 
     
    padding: 5px;
    background-color: white;
    border: 2px solid red;
}

.avatar-container {
    width: 100px;
    margin: auto;
}

#user-info-username {
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#seed-img {
    float: left;
}

/* View Birds */
.view-birds-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px;
}

.view-bird-entry {
    border-style: solid;
    border-radius: 0.2em;
    border-width: thick;
}

.vb-rarity-0 {
    background-color: bisque;
    border-color: lightslategray;
}

.vb-img {
    display: flex;
    justify-content: center;
}

.vb-img-container {
    max-width: 300px;
    margin: auto;
}

.view-entry-stat {
    display: inline-block;
}