@page
@model AdoptModel
@{
    ViewData["Title"] = "Adopt";
}

<link rel="stylesheet" href="~/css/adopt.css" asp-append-version="true" />

<div>

</div>
<div>
    @for(int i = 0; i < 8; i++) {
        <div>

        </div>
    }
</div>