@page
@model CraftingModel
@{
    ViewData["Title"] = "Crafting";
}

<link rel="stylesheet" href="~/css/crafting.css" asp-append-version="true" />

<div class="body-div">
    <div class="crafting-wrapper">
        @foreach (var craftItem in Model.CraftableItems) {
            <div class="crafting-entry-box">
                <img class="item-img" src="~/images/craftableItems/@(craftItem.Id).png">
                <div class="item-name"><h2>@craftItem.Name</h2></div>
                <div class="item-left-side">
                    <div class="item-description">
                       @craftItem.Description
                    </div>
                    <div class="item-needs">
                        @foreach (var IR in craftItem.itemRelationships){
                            <div class="single-item">
                                <img class="item-need-img" src="~/images/basicItems/@(IR.BasicItem.Id).png">
                                <div class="item-need">@IR.BasicItem.Name</div>
                                @{bool flag = false;}
                                @foreach (var UIR in Model.UserGameEntity.userIRs) {
                                    @if (UIR.BasicItem.Name == IR.BasicItem.Name) {
                                        <div class="item-progress">
                                            @(UIR.OwnedNum)/@IR.RequiredNum
                                        </div>
                                        flag = true;
                                    }
                                }
                                @if (flag == false) {
                                        <div class="item-progress">
                                            0/@IR.RequiredNum
                                        </div>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="item-right-side">
                    <button>Craft</button>
                </div>
            </div>
        }
    </div>
</div>
