@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="body-div">
    <h1>Welcome to Ptaszki!</h1>
    <p>
        Ptaszki is a virtual bird sanctuary! The goal is to collect birds 
        and upgrade your enviroment for them. This involves feeding them, 
        building nests for them, and other upgrades. Your birds are very smart, 
        and can help you along your journey by finding resources for you. 
        This is an incremental type game, meaning progress will be slow at 
        first and increase over time. Before you know it, you'll collect them all!
    </p>
</div>
<div class="body-div">
    <h2>How to play</h1>
    <p>
        Some info here about more stuff.
    </p>
</div>

